<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/W3.css" rel="stylesheet" type="text/css" />


</head>
<body>
    <div class="w3-bar w3-red">
        <a href="#" class="w3-bar-item w3-button">Stephen Fowles-Whtie</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small">Link 1</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small">Link 2</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small">Link 3</a>
        <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="OpenNavMenu()">&#9776;</a>
    </div>

    <div id="MenuTab" class="w3-bar-block w3-red w3-hide w3-hide-large w3-hide-medium">
        <a href="#" class="w3-bar-item w3-button">Link 1</a>
        <a href="#" class="w3-bar-item w3-button">Link 2</a>
        <a href="#" class="w3-bar-item w3-button">Link 3</a>
    </div>
    <div>
         <section>
                <h2>General Information</h2>
                <ul>
                    <li><p><img src="~/Images/Name.png" /> Name: <strong>Stephen Fowles-White</strong></p></li>
                    <li><p>Location: <strong>West Yorkshire UK</strong></p></li>
                    <li><p><img src="~/Images/Email.png" />Fowleswhite@gmail.com </p></li>
                    <li><p><img src="~/Images/Phone.png" />07</p></li>
                    <li><p><img src="~/Images/GitHub.png" />https://github.com/SteFowles-White</p></li>
                    <li><p><img src="~/Images/LinkedIn.png"/>https://www.linkedin.com/in/stephen-fowles-white/</p></li>
                </ul>
          </section>
         <section>
             @RenderBody()
         </section>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
        <script src="~/JavaScript/JavaScript.js"></script>
    </div>

</body>
</html>