
@{
    ViewBag.Title = "Index";
}



<div id = "rows" class="row">
    <div class="col-lg-6"><img src="~/Images/Opening.jpg" class="img-fluid" alt="Responsive image"></div>
    <div class="col-lg-6"><h2>I'm Stephen Fowles-White. An independent Leeds Based .net Developer
    commited to providing effective solutions.</h2> </div>
</div>

<div id="rows" class="row">
    <div class="col-lg-4">
        <h1>Skills</h1>
        <img src="" />
        <p>Decription</p>
    </div>
    <div class="col-lg-4">
        <h1>Skills</h1>
        <img src="" />
        <p>Decription</p>
    </div>
    <div class="col-lg-4">
        <h1>Skills</h1>
        <img src="" />
        <p>Decription</p>
    </div>
</div>