@model Web_Site.Models.ProgLang



@{
    ViewBag.Title = "ProgLang";
    Layout = "~/Views/Shared/_homePage.cshtml";
}

<h2>Programming Languaages</h2>

    <h1>@Model.Language</h1>
<ul>

    <!--This runs through array of Framworks from the ProgLang Controller Data-->
@foreach (var item in Model.Frameworks)
{

    <li>@item</li>
}
    </ul>
    <p> @Model.DescriptionLang</p>



