@model Web_Site.Models.ProgLang

 

@{
    ViewBag.Title = "ProgLang";
    Layout = "~/Views/Shared/_homePage.cshtml";
}

<h2>ProgLang</h2>

<h1>@Model.Languague</h1>
<p>@Model.Frameworks</p>
<p> @Model.Description</p>

