body {
    padding-top: .01px;
    padding-bottom: 20px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    margin-left: 50px;
    margin-right: 50px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

