

/*************************
**************************

    LAYOUT VIEW 

*************************
*************************/

#generalInfo {
    list-style: none;
    margin: 5px;
    padding-left: 5px;
}
